.row{
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;
    background-color: #CBA1A1;
    
}
.contenedor{
    width: auto;
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 30px #000000;
}
