<div class="row">
  <h1 style=><u>Experiencia Laboral</u></h1>
  <div class="col-lg-11">
    <ul>
      <li>
        <h2>Sistema de gestion de vinoteca "Le Mone"</h2>
    
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad perspiciatis
        sequi quibusdam ea iste eius expedita veniam fugiat nisi! Aliquid
        voluptatem earum laudantium doloribus eligendi molestiae dolore qui
        repellendus saepe!
      </p>
    </ul>
    <ul>
        <li>
          <h2>Pagina Institucional SuquiaRiverFish</h2>
        </li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad perspiciatis
          sequi quibusdam ea iste eius expedita veniam fugiat nisi! Aliquid
          voluptatem earum laudantium doloribus eligendi molestiae dolore qui
          repellendus saepe!
        </p>
      </ul>
  </div>
</div>

