.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;

}
/*nombre*/
#nombre{
    font-weight: bold;
    margin-top:30%;
    
}
/*Foto de perfil*/
@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 18%;
        top:525px;
    }

}
@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 35%;
        top: 800px;
    }

}