.row{
    padding-left: 150px;
    padding-right: 150px;
    background-color:#CBA1A1 ;
}
div{
    background-color: CBA1A1;
    color: #000000;
    
}
h2,h3{
    display: inline;
    
    
    
    
    


    
}
