<div class="row">
    <h1><u>Hard & Soft Skills</u></h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="60"
      [radius]="100"
      [imageSrc]="'../../../assets/Py.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="90"
      [showUnits]="false"
      [maxPercent]="100"
      [titleColor]="'#646464'"
      [showSubtitle]="false"
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#4584b6'"
      [innerStrokeColor]="'#ffde57'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>

    
    
    
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="100"
      [imageSrc]="'../../../assets/html.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="90"
      [showUnits]="false"
      [maxPercent]="100"
      [titleColor]="'#646464'"
      [showSubtitle]="false"
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#e34c26'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>

    
    
    
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="100"
      [imageSrc]="'../../../assets/CSS.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="90"
      [showUnits]="false"
      [maxPercent]="100"
      [titleColor]="'#646464'"
      [showSubtitle]="false"
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#264de4'"
      [innerStrokeColor]="'#ebebeb'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>

    
    
    
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="50"
      [radius]="100"
      [imageSrc]="'../../../assets/js.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="90"
      [showUnits]="false"
      [maxPercent]="100"
      [titleColor]="'#646464'"
      [showSubtitle]="false"
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#F0DB4F'"
      [innerStrokeColor]="'#323330'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>

    
    
    
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="50"
      [radius]="100"
      [imageSrc]="'../../../assets/git.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="90"
      [showUnits]="false"
      [maxPercent]="100"
      [titleColor]="'#646464'"
      [showSubtitle]="false"
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#000000'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>

    
    
    
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="100"
      [imageSrc]="'../../../assets/eng.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="90"
      [showUnits]="false"
      [maxPercent]="100"
      [titleColor]="'#646464'"
      [showSubtitle]="false"
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#4584b6'"
      [innerStrokeColor]="'#ffde57'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>

    
    
    
  </div>
</div>
