<div class="row">
  <h1 style=><u>Educación</u></h1>
    <div class="col-lg-11">
      <ul>
        <li>
          <h2>Ingenieria en sistemas de la informacion</h2>
          -
          <h3>Universidad Tecnologica Nacional Facultad Regional Cordoba</h3>
        </li>
        <p>
            2020 - Actualidad
        </p>
      </ul>
      <ul>
          <li>
            <h2>Tecnicatura en desarrollo web y aplicaciones digitales</h2>
            -
            <h3>Instituto Superior Politecnico Córdoba</h3>

            <p>
              2022 - Actualidad
          </p>
          </li>
          <p>
            
        </ul>
    </div>
  </div>

  